*{
    
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    text-align: justify;
    margin-left: 80px;
    margin-right: 20px;
    margin-top: 140px;

}
body{
    
    min-height: 100vh;
    background: url(fondohome2.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    text-align: start;
    text-align: justify;

}
img{
    position: initial;
    margin-top: 2px;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.navbar ul{
  list-style-type: none;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: grey;

}
.navbar li{
    float: left;
}
p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    
}
div{
    background-color:transparent ;
    width: 350px;
    height: 350;
    padding: 2px;
    border: 1px solid black;
}
